{%extends 'index.html'%}
{% load static %}
{% block page %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Amazon Affiliate website with hand picked
                            product recommendations</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Easily pick the products you desire from our
                            recommended
                            list of items. Save time on finding products that give best value for your money.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" role="button" href={{store_home}}>Start
                                Shopping</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#features">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                                                                                   src="{%static 'home/img/box.png'%}"
                                                                                   alt="..."/></div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way of shopping on Amazon </h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-building"></i></div>
                            <h2 class="h5">100+ Product categories</h2>
                            <p class="mb-0">Easily find the best and most essential products from our catalogue</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="h5">Top rated products</h2>
                            <p class="mb-0">Find products with rating above 4<i class="bi bi-star-fill"></i></p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-search"></i></div>
                            <h2 class="h5">Search on Amazon</h2>
                            <p class="mb-0">Use the search tool to find best products directly on amazon</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-gift"></i></div>
                            <h2 class="h5">Best deals</h2>
                            <p class="mb-0">Get the best deals listed for each category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"Save time on endless browsing by using our handpicked
                            products
                            catalogue. Buy from the best online marketplace. Better
                            buy nothing than buy something you don't need!!."
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}